<h1>餐廳後台</h1>

<a>
  Restaurants|Users
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.email}}</td>
      <td>{{this.isAdmin}}</td>
      <td>
        set as user or admin
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>